<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Clifton.Payment" type="Clifton.Payment.Configuration, Clifton.Payment"/>
  </configSections>
  <Clifton.Payment>
    <Gateways>
      <Gateway name="FirstData" url="https://api-cert.payeezy.com/v1/transactions" apiKey ="y6pWAJNyJyjGv66IsVuWnklkKUPFbb0a" apiSecret="86fbae7030253af3cd15faef2a1f4b67353e41fb6799f576b5093ae52901e6f7" token="fdoa-a480ce8951daa73262734cf102641994c1e55e7cdf4c02b6" />
    </Gateways>
  </Clifton.Payment>
</configuration>