<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Clifton.Payment" type="Clifton.Payment.Configuration"/>
  </configSections>
  <Clifton.Payment>
    <Gateways>
      <Gateway name="FirstData" id="" password="" />
    </Gateways>
  </Clifton.Payment>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.globalgatewaye4.firstdata.com/transaction/v19"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="Payeezy.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>