<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Clifton.Payment" type="Clifton.Payment.Configuration, Clifton.Payment"/>
  </configSections>
  <Clifton.Payment>
    <Gateways>
      <Gateway name="FirstData" url="https://api.demo.globalgatewaye4.firstdata.com" keyId ="" hmacKey="" id="" password="" />
    </Gateways>
  </Clifton.Payment>
</configuration>